*{
  padding: 0%;
  margin: 0%;
  box-sizing: border-box;
}

.parrafo{
  margin: 10px;
  padding: 10px;
}

.galeria{
  margin: 30;
  padding: 30;
}

.rounded float-center{
  margin-top: 25px;
  margin-left: 25px;
  margin-right: 25px;
  margin-bottom: 25px;
}

.caja1{
  margin: 10px;
  padding: 10px;
  width: 100px;
  height: 100px;
  background-color: rgba(255,0,0,0.9);
  transform: skewY(25deg)
}

/*caja que gira*/
div.animame {
  width: 10vw; 
  margin: 20px;
  padding: 20px;
  height: 20vh;
  background-color: #5c1386e6;
  border: solid 1px;
} 
div .animame {
  text-align: center;
  position: relative;
  left:300px; top:50px;
  color: black;
}
@keyframes animacion {
  from { }
  to {
    transform: rotate(180deg);
  }
} 
.animame {
   animation: animacion 3s linear 3s infinite alternate;
}

.aparecer{
  text-align: center;
  margin:100px;
  animation-duration: 8s;
  animation-name: aparecer;
  animation-iteration-count: infinite;
}

@keyframes aparecer {
  0% {
      opacity: 0;
      }
  50% {
      opacity: 1;
      }
  100% {
    opacity: 0;
      }
}
